<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/staff.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <h1 id="title" style="color: darkviolet;">WELCOME STAFF!</h1>
    <div class="container" style="box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.25); padding-left: 80px; padding-right: 80px; margin-top: 2.5%;">
        <div class="row">
            <div class="card card-header col-md-6 col-sm-12" style="margin-bottom: 9%; margin-top: 8%; background-color: #ccc;">
                <br>
                <h3 class="details">NAME: <b><%= staff.Name %></b></h3>
                <br>
                <h3 class="details">ADDRESS: <b><%= staff.BankName %></b></h3>
                <br>
                <h3 class="details">POST: <b><%= staff.Post %></b></h3>
                <br>
                <h3 class="details">SALARY: <b><%= staff.Salary %></b></h3>
                <br>
                <h3 class="details">ADDRESS: <b><%= staff.Address %></b></h3>
                <br>
            </div>
            <div class="col-md-6 col-sm-12" style="margin-top: 10%">
                <div class="container" style="margin-top: 11%">
                    <div class="row text-center">
                        <div class="col-md-6 col-sm-12" style="margin-bottom: 20px">
                            <button class="btn btn-primary" onclick="javascript:window.location.href = `/accounts/bank-accounts/<%= staff.Bank_code %>`">Search accounts</button>
                        </div>
                        <div class="col-md-6 col-sm-12" style="margin-bottom: 20px">
                            <button class="btn btn-primary" onclick="javascript:window.location.href = `/loans/requested-loans/<%= staff.Bank_code %>`">Requested Loans</button>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 col-sm-12">
                            <button class="btn btn-success" onclick="javascript:window.location.href = `/loans/${window.location.href.split('/')[4]}`">Loans history</button>
                        </div>
                        <!-- <div class="col-md-6 col-sm-12">
                            <button class="btn btn-success" onclick="javascript:window.location.href = `/loans/request-loan/${window.location.href.split('/')[4]}`">Apply for loan</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>